@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

* {
    --pale-silver: #C3B5A9ff;
--black: #030303ff;
--van-dyke-brown: #75452Bff;
--brown-sugar: #A76C40ff;
--dark-purple: #3F1D2Eff;
}


body {
    display: flex;
    color: var(--dark-purple);
    background-color: --pale-silver;

}
main {
    width: 50vw;
    height: 100vh;
    background-image: url(../assets/tarot-gb6935b5ac_1920.jpg)
}
img {
    width: 75vw;
}s
.dark-text {color: var(--van-dyke-brown);}

@media (max-width: 600px){
    body {
        flex-direction: column;
    }
    main, 
    header {
        width: 100vw;
    }
    main { height: 50vh}
}